@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --bold: hsl(234, 12%, 34%);
  --head: hsl(229, 6%, 66%);
  --box-shadow: hsl(0, 1%, 70%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.bold {
  font-weight: 600;
  color: var(--bold);
}

main {
  min-height: 100vh;
  .header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 5rem;
    text-align: center;
    align-items: center;
    .head {
      color: var(--bold);
      font-size: 1.7rem;
      font-weight: 200;
    }
    .main-head {
      font-size: 1.7rem;
    }
    .para {
      text-align: center;
      color: var(--head);
      width: 34ch;
      margin-top: 1.5rem;
      //   background: red;
    }
  }
  .body {
    width: 100%;
    // background: yellow;
    // margin-top: 5rem;
    display: grid;
    gap: 20px;
    // margin-bottom: 4rem;
    margin: 5rem auto 4rem;
    .box {
      //   border: 2px solid black;
      width: clamp(345px, 60%, 500px);
      justify-self: center;
      display: grid;
      height: clamp(200px, 5rem, 500px);
      flex-direction: column;
      //   border-top: 1px solid black;
      box-shadow: var(--box-shadow) 0px 5px 15px;
      padding: 2rem;
      border-top: 7px solid black;
      border-radius: 6px;
      grid-template-rows: 0.25fr 0.5fr 2fr;
      &:nth-child(1) {
        border-top: 7px solid var(--cyan);
        // grid-area: start;
      }
      &:nth-child(2) {
        border-top: 7px solid var(--red);
        // grid-area: mid1;
      }
      &:nth-child(3) {
        border-top: 7px solid var(--orange);
        // grid-area: mid2;
      }
      &:nth-child(4) {
        border-top: 7px solid var(--blue);
        // grid-area: end;
      }
      .heading {
        font-size: 1.5rem;
      }
      img {
        width: 50px;
        align-self: flex-end;
        justify-self: flex-end;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  main {
    .body {
      grid-template-columns: repeat(2, 352px);
      column-gap: 25px;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 1450px) {
  main {
    .header {
      .head,
      .main-head {
        font-size: 3rem;
      }
      .para {
        font-size: 1.4rem;
        width: 57ch;
      }
    }

    .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .body {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        max-width: 80%;
        // max-width: 80%;
        // max-width: 700px;
        padding: 0 2rem;

        grid-template-areas:
          "start mid1 end"
          "start mid2 end";
        .box {
          width: clamp(358px, 60%, 405px);
          min-height: 280px;
          gap: 0;
          &:nth-child(1),
          &:nth-child(4) {
            align-self: center;
          }
          &:nth-child(1) {
            // border-top: 7px solid var(--cyan);
            grid-area: start;
          }
          &:nth-child(2) {
            // border-top: 7px solid var(--red);
            grid-area: mid1;
          }
          &:nth-child(3) {
            // border-top: 7px solid var(--orange);
            grid-area: mid2;
          }
          &:nth-child(4) {
            // border-top: 7px solid var(--blue);
            grid-area: end;
          }
        }
      }
    }
  }
}
